.col-sm{
    background-color: white;
    border:1px solid black;
}

.container{
    background-color:red;
    border:1px solid black;
    border-radius:30px;
}

body {
    background-color: orangered;
}