.col-sm{
     background-color: white;
     border:1px solid black;
 }

body {
    background-color: orangered;

}

.selector-for-some-widget {
    box-sizing: content-box;
}

.col {
    background-color: white;
    border:1px solid black;

}

.w-100 {
    background-color: white;
    border:1px solid black;
}