.container-fluid {
    background-color: #4e2716;

}
.img-fluid {
    width: 100%;
    ;

}
.background {
    background: url("../images/src_assets_img_background-trunk (2).jpg");
    background-size: cover;
}
.background-2 {
    background: url("../images/src_assets_img_background-louis-vuitton (3).svg") #4e2716;
    background-size: cover;
}
.main-title {
    color:white ;
    text-align: center;
    margin: 8rem 0;
}

.main-title-2 {
    color:white ;
    text-align: center;
    margin: 8rem 0;
}

.col-sm-4{
    width: 100% ;
}
