body {
    font-family: Frutiger;
}

.background {
    background: url("../images/src_assets_img_background-louis-vuitton (3).svg") #433431;
    color: #A07C71;
}

.background-2 {
    background-color: rgb(233, 233, 233);
}

.background-3 {
    background-color: #ffffff;
}

h3, .home {
    color: white;
}

h6 {
    margin: 1rem 0;
    color: #A07C71;
}

.two-blocks {
    margin: 4rem 0;
}

.col-sm-6 {
    margin-top: 25px;
}

.g-color {
    color: limegreen;
}

.r-color {
    color: red;
}

.brn-color {
    color: #A07C71;
}

img {
    width: 66%;
    height: 50%;
}

.pad {
    padding-top: 17rem;
}

.bdr-wdth {
    border-width: 5px !important;
}

.sixth-title {
    color: gray;
}

.divider {
    border-color: rgb(209, 209, 209);
}

.dropdown-divider {
    border-color: rgb(108, 95, 91);
}

.dropdown-divider-2 {
    border-color: #d1d1d1;
}

p {
    font-size: 0.8rem;
}


@font-face {
    font-family: "Frutiger";
    src: url('/images/Frutiger-Light.otf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Frutiger";
    src: url('/images/Frutiger-Roman.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Frutiger";
    src: url('/images/Frutiger-Bold.otf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Frutiger";
    src: url('/images/Frutiger-Black.otf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

h5 {
    font-size: 12px;
}

